In [26]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()
# Optimization1 = Dropping more columns

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [27]:
df = application_df.drop(['EIN','NAME','ORGANIZATION',"SPECIAL_CONSIDERATIONS"], axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,142590,1

In [28]:
df.shape

(34299, 8)

In [29]:
df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [30]:
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [31]:
application_types_to_replace = ('T9','T13','T12','T2','T25','T14','T29','T15','T17')

for app in application_types_to_replace:
    df['APPLICATION_TYPE'] =df['APPLICATION_TYPE'].replace(app,"Other")


df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [32]:
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C3700        1
C1283        1
C6100        1
C2600        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [33]:
df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1234        2
C1246        2
C3200        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [34]:
classifications_to_replace = df['CLASSIFICATION'].value_counts().loc[lambda x : x < 900].index

for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [35]:
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,142590,1

In [36]:
dummiesdf = pd.get_dummies(df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE','INCOME_AMT'], drop_first=True, dtype=float)
dummiesdf.shape

(34299, 33)

In [37]:
dummiesdfx = dummiesdf.drop('IS_SUCCESSFUL', axis=1)
dummiesdfx.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,USE_CASE_Preservation,USE_CASE_ProductDev,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [38]:
dummiesdfy = dummiesdf['IS_SUCCESSFUL']
dummiesdfy

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [39]:
X = dummiesdfx
y = dummiesdfy

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 50)

In [40]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [41]:
nn1 = tf.keras.models.Sequential()
#changed input_dim from 36 to 32
nn1.add(tf.keras.layers.Dense(units=50, activation="relu",input_dim=32))

nn1.add(tf.keras.layers.Dense(units=30, activation="relu"))

nn1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn1.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 50)                1650
_________________________________________________________________
dense_7 (Dense)              (None, 30)                1530
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 31
=================================================================
Total params: 3,211
Trainable params: 3,211
Non-trainable params: 0
_________________________________________________________________

In [42]:
nn1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
import os
from tensorflow import keras
os.makedirs("checkpoints/", exist_ok=True)
chp = "checkpoints/weights.{epoch:05d}.hdf5"

In [44]:
chp_callback = tf.keras.callbacks.ModelCheckpoint(filepath= chp, verbose =1, save_weights_only=True, save_freg = "epoch", period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [45]:
fit_model_callback=nn1.fit(X_train_scaled, y_train, epochs = 100, callbacks=[chp_callback])

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5860 - accuracy: 0.7079
Epoch 2/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5699 - accuracy: 0.7217
Epoch 3/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5667 - accuracy: 0.7215
Epoch 4/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5648 - accuracy: 0.7242
Epoch 5/100
25536/25724 [============================>.] - ETA: 0s - loss: 0.5643 - accuracy: 0.7249
Epoch 00005: saving model to checkpoints/weights.00005.hdf5
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5640 - accuracy: 0.7253
Epoch 6/100
25724/25724 [==============================] - 2s 73us/sample - loss: 0.5633 - accuracy: 0.7247
Epoch 7/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5625 - accuracy: 0.7238
Epoch 8/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5625 - accuracy: 0.7249
Epoch 9/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5619 - accuracy: 0.7255
Epoch 10/100
25376/25724 [============================>.] - ETA: 0s - loss: 0.5617 - accuracy: 0.7245
Epoch 00010: saving model to checkpoints/weights.00010.hdf5
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5613 - accuracy: 0.7247
Epoch 11/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5613 - accuracy: 0.7247
Epoch 12/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5607 - accuracy: 0.7250
Epoch 13/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5608 - accuracy: 0.7255
Epoch 14/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5610 - accuracy: 0.7250
Epoch 15/100
25024/25724 [============================>.] - ETA: 0s - loss: 0.5600 - accuracy: 0.7257
Epoch 00015: saving model to checkpoints/weights.00015.hdf5
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5605 - accuracy: 0.7256
Epoch 16/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5601 - accuracy: 0.7253
Epoch 17/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5599 - accuracy: 0.7249
Epoch 18/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5595 - accuracy: 0.7264
Epoch 19/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5598 - accuracy: 0.7265
Epoch 20/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.5593 - accuracy: 0.7263
Epoch 00020: saving model to checkpoints/weights.00020.hdf5
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5596 - accuracy: 0.7260
Epoch 21/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5594 - accuracy: 0.7256
Epoch 22/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5592 - accuracy: 0.7260
Epoch 23/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5591 - accuracy: 0.7264
Epoch 24/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5592 - accuracy: 0.7264
Epoch 25/100
24736/25724 [===========================>..] - ETA: 0s - loss: 0.5582 - accuracy: 0.7267
Epoch 00025: saving model to checkpoints/weights.00025.hdf5
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5585 - accuracy: 0.7261
Epoch 26/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5587 - accuracy: 0.7266
Epoch 27/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5590 - accuracy: 0.7260
Epoch 28/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5583 - accuracy: 0.7268
Epoch 29/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5584 - accuracy: 0.7275
Epoch 30/100
25056/25724 [============================>.] - ETA: 0s - loss: 0.5584 - accuracy: 0.7266
Epoch 00030: saving model to checkpoints/weights.00030.hdf5
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5579 - accuracy: 0.7267
Epoch 31/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5585 - accuracy: 0.7267
Epoch 32/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5581 - accuracy: 0.7273
Epoch 33/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5575 - accuracy: 0.7266
Epoch 34/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5579 - accuracy: 0.7273
Epoch 35/100
24800/25724 [===========================>..] - ETA: 0s - loss: 0.5569 - accuracy: 0.7289
Epoch 00035: saving model to checkpoints/weights.00035.hdf5
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5577 - accuracy: 0.7279
Epoch 36/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5577 - accuracy: 0.7268
Epoch 37/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5576 - accuracy: 0.7270
Epoch 38/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5578 - accuracy: 0.7276
Epoch 39/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5572 - accuracy: 0.7276
Epoch 40/100
24832/25724 [===========================>..] - ETA: 0s - loss: 0.5566 - accuracy: 0.7279
Epoch 00040: saving model to checkpoints/weights.00040.hdf5
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5573 - accuracy: 0.7274
Epoch 41/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5573 - accuracy: 0.7278
Epoch 42/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5575 - accuracy: 0.7272
Epoch 43/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5571 - accuracy: 0.7280
Epoch 44/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5572 - accuracy: 0.7276
Epoch 45/100
24544/25724 [===========================>..] - ETA: 0s - loss: 0.5561 - accuracy: 0.7284
Epoch 00045: saving model to checkpoints/weights.00045.hdf5
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5569 - accuracy: 0.7276
Epoch 46/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5572 - accuracy: 0.7270
Epoch 47/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5567 - accuracy: 0.7275
Epoch 48/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5566 - accuracy: 0.7285
Epoch 49/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5565 - accuracy: 0.7275
Epoch 50/100
25088/25724 [============================>.] - ETA: 0s - loss: 0.5569 - accuracy: 0.7269
Epoch 00050: saving model to checkpoints/weights.00050.hdf5
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5568 - accuracy: 0.7269
Epoch 51/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5563 - accuracy: 0.7277
Epoch 52/100
25724/25724 [==============================] - 2s 58us/sample - loss: 0.5565 - accuracy: 0.7278
Epoch 53/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5562 - accuracy: 0.7282
Epoch 54/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5567 - accuracy: 0.7275
Epoch 55/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.5563 - accuracy: 0.7273
Epoch 00055: saving model to checkpoints/weights.00055.hdf5
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5562 - accuracy: 0.7273
Epoch 56/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5562 - accuracy: 0.7280
Epoch 57/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5564 - accuracy: 0.7280
Epoch 58/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5560 - accuracy: 0.7285
Epoch 59/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5563 - accuracy: 0.7280
Epoch 60/100
24992/25724 [============================>.] - ETA: 0s - loss: 0.5570 - accuracy: 0.7282
Epoch 00060: saving model to checkpoints/weights.00060.hdf5
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5561 - accuracy: 0.7286
Epoch 61/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5559 - accuracy: 0.7286
Epoch 62/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5555 - accuracy: 0.7282
Epoch 63/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5562 - accuracy: 0.7274
Epoch 64/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5558 - accuracy: 0.7283
Epoch 65/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.5558 - accuracy: 0.7281
Epoch 00065: saving model to checkpoints/weights.00065.hdf5
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5556 - accuracy: 0.7282
Epoch 66/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5559 - accuracy: 0.7285
Epoch 67/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5556 - accuracy: 0.7280
Epoch 68/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5555 - accuracy: 0.7280
Epoch 69/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5559 - accuracy: 0.7280
Epoch 70/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.5553 - accuracy: 0.7288
Epoch 00070: saving model to checkpoints/weights.00070.hdf5
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5554 - accuracy: 0.7287
Epoch 71/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5556 - accuracy: 0.7283
Epoch 72/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5550 - accuracy: 0.7292
Epoch 73/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5550 - accuracy: 0.7280
Epoch 74/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5554 - accuracy: 0.7290
Epoch 75/100
25120/25724 [============================>.] - ETA: 0s - loss: 0.5560 - accuracy: 0.7268
Epoch 00075: saving model to checkpoints/weights.00075.hdf5
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5555 - accuracy: 0.7273
Epoch 76/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5549 - accuracy: 0.7292
Epoch 77/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5550 - accuracy: 0.7282
Epoch 78/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5553 - accuracy: 0.7280
Epoch 79/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5548 - accuracy: 0.7283
Epoch 80/100
25696/25724 [============================>.] - ETA: 0s - loss: 0.5549 - accuracy: 0.7292
Epoch 00080: saving model to checkpoints/weights.00080.hdf5
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5548 - accuracy: 0.7293
Epoch 81/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5550 - accuracy: 0.7280
Epoch 82/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5550 - accuracy: 0.7287
Epoch 83/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5550 - accuracy: 0.7286
Epoch 84/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5547 - accuracy: 0.7282
Epoch 85/100
25632/25724 [============================>.] - ETA: 0s - loss: 0.5547 - accuracy: 0.7292
Epoch 00085: saving model to checkpoints/weights.00085.hdf5
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5547 - accuracy: 0.7292
Epoch 86/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5548 - accuracy: 0.7285
Epoch 87/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5544 - accuracy: 0.7285
Epoch 88/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5548 - accuracy: 0.7282
Epoch 89/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5544 - accuracy: 0.7283
Epoch 90/100
24704/25724 [===========================>..] - ETA: 0s - loss: 0.5560 - accuracy: 0.7281
Epoch 00090: saving model to checkpoints/weights.00090.hdf5
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5553 - accuracy: 0.7288
Epoch 91/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5546 - accuracy: 0.7282
Epoch 92/100
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5546 - accuracy: 0.7286
Epoch 93/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5547 - accuracy: 0.7285
Epoch 94/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5546 - accuracy: 0.7284
Epoch 95/100
25632/25724 [============================>.] - ETA: 0s - loss: 0.5544 - accuracy: 0.7289
Epoch 00095: saving model to checkpoints/weights.00095.hdf5
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5543 - accuracy: 0.7290
Epoch 96/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5546 - accuracy: 0.7281
Epoch 97/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5546 - accuracy: 0.7279
Epoch 98/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5542 - accuracy: 0.7283
Epoch 99/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5544 - accuracy: 0.7287
Epoch 100/100
25152/25724 [============================>.] - ETA: 0s - loss: 0.5549 - accuracy: 0.7290
Epoch 00100: saving model to checkpoints/weights.00100.hdf5
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5543 - accuracy: 0.7292

In [46]:
model_loss, model_accuracy = nn1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
#accuracy increased slightly with dropping of slightly more columns

8575/8575 - 0s - loss: 0.5569 - accuracy: 0.7338
Loss: 0.5569396240613899, Accuracy: 0.7337609529495239

In [ ]:
#Now will drop the same amount of columns as nn1 but will apply more layers