In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()
# Optimization1 = Dropping more columns

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
df = application_df.drop(['EIN','NAME','ORGANIZATION',"SPECIAL_CONSIDERATIONS"], axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,142590,1

In [3]:
df.shape

(34299, 8)

In [4]:
df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [5]:
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
application_types_to_replace = ('T9','T13','T12','T2','T25','T14','T29','T15','T17')

for app in application_types_to_replace:
    df['APPLICATION_TYPE'] =df['APPLICATION_TYPE'].replace(app,"Other")


df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4500        1
C5200        1
C1245        1
C2600        1
C2570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C3200        2
C1246        2
C1267        2
C1234        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
classifications_to_replace = df['CLASSIFICATION'].value_counts().loc[lambda x : x < 900].index

for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,142590,1

In [11]:
dummiesdf = pd.get_dummies(df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE','INCOME_AMT'], drop_first=True, dtype=float)
dummiesdf.shape

(34299, 33)

In [12]:
dummiesdfx = dummiesdf.drop('IS_SUCCESSFUL', axis=1)
dummiesdfx.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,USE_CASE_Preservation,USE_CASE_ProductDev,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [13]:
dummiesdfy = dummiesdf['IS_SUCCESSFUL']
dummiesdfy

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [14]:
X = dummiesdfx
y = dummiesdfy

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 50)

In [15]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
nn1 = tf.keras.models.Sequential()
#changed input_dim from 36 to 32
nn1.add(tf.keras.layers.Dense(units=50, activation="relu",input_dim=32))

nn1.add(tf.keras.layers.Dense(units=30, activation="relu"))

nn1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn1.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 50)                1650
_________________________________________________________________
dense_1 (Dense)              (None, 30)                1530
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 3,211
Trainable params: 3,211
Non-trainable params: 0
_________________________________________________________________

In [17]:
nn1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
import os
from tensorflow import keras
os.makedirs("checkpoints/", exist_ok=True)
chp = "checkpoints/weights.{epoch:05d}.hdf5"

In [19]:
chp_callback = tf.keras.callbacks.ModelCheckpoint(filepath= chp, verbose =1, save_weights_only=True, save_freg = "epoch", period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [20]:
fit_model_callback=nn1.fit(X_train_scaled, y_train, epochs = 100, callbacks=[chp_callback])

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6174 - accuracy: 0.6772
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7210
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5675 - accuracy: 0.7194
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7224
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7268

Epoch 00005: saving model to checkpoints\weights.00005.hdf5
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5640 - accuracy: 0.7232
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7248
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7217
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5596 - accuracy: 0.7289
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5603 - accuracy: 0.7262

Epoch 00010: saving model to checkpoints\weights.00010.hdf5
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7265
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5594 - accuracy: 0.7275
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5628 - accuracy: 0.7208
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7273
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7252

Epoch 00015: saving model to checkpoints\weights.00015.hdf5
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5647 - accuracy: 0.7193
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5588 - accuracy: 0.7253
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7284
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5584 - accuracy: 0.7262
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7281

Epoch 00020: saving model to checkpoints\weights.00020.hdf5
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7304
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7249
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7274
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5571 - accuracy: 0.7262
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7204

Epoch 00025: saving model to checkpoints\weights.00025.hdf5
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7304
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5588 - accuracy: 0.7245
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5610 - accuracy: 0.7227
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5599 - accuracy: 0.7273
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7268

Epoch 00030: saving model to checkpoints\weights.00030.hdf5
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7312
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7283
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5573 - accuracy: 0.7283
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5594 - accuracy: 0.7255
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5566 - accuracy: 0.7295

Epoch 00035: saving model to checkpoints\weights.00035.hdf5
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7289
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7259
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7253
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5583 - accuracy: 0.7268
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7285

Epoch 00040: saving model to checkpoints\weights.00040.hdf5
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7224
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7241
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7298
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7296
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7224

Epoch 00045: saving model to checkpoints\weights.00045.hdf5
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7317
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5592 - accuracy: 0.7249
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7253
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7236
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7280

Epoch 00050: saving model to checkpoints\weights.00050.hdf5
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5591 - accuracy: 0.7266
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7261
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5569 - accuracy: 0.7249
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7255
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5569 - accuracy: 0.7301

Epoch 00055: saving model to checkpoints\weights.00055.hdf5
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7294
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7279
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7309
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7301
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5561 - accuracy: 0.7258

Epoch 00060: saving model to checkpoints\weights.00060.hdf5
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7303
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7335
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5570 - accuracy: 0.7244
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5583 - accuracy: 0.7280
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7294

Epoch 00065: saving model to checkpoints\weights.00065.hdf5
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5574 - accuracy: 0.7284
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7312
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5571 - accuracy: 0.7266
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5554 - accuracy: 0.7272
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7286

Epoch 00070: saving model to checkpoints\weights.00070.hdf5
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5584 - accuracy: 0.7242
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7339
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7272
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5594 - accuracy: 0.7235
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7272

Epoch 00075: saving model to checkpoints\weights.00075.hdf5
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7352
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7252
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7285
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7241
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7299

Epoch 00080: saving model to checkpoints\weights.00080.hdf5
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7308
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5571 - accuracy: 0.7277
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7281
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7305
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7283

Epoch 00085: saving model to checkpoints\weights.00085.hdf5
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7267
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7286
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5564 - accuracy: 0.7268
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7293
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7290

Epoch 00090: saving model to checkpoints\weights.00090.hdf5
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7299
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7343
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7281
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7283
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7313

Epoch 00095: saving model to checkpoints\weights.00095.hdf5
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7249
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7311
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7330
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7318
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7299

Epoch 00100: saving model to checkpoints\weights.00100.hdf5

In [21]:
model_loss, model_accuracy = nn1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
#accuracy increased slightly with dropping of slightly more columns

268/268 - 0s - loss: 0.5554 - accuracy: 0.7347
Loss: 0.5553967356681824, Accuracy: 0.7346938848495483

In [22]:
#ATTEMPT 2: 
#Now will drop the same amount of columns as nn1 but will apply more layers

In [23]:
df2 = application_df.drop(['EIN','NAME','ORGANIZATION',"SPECIAL_CONSIDERATIONS"], axis=1)
df2.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,142590,1

In [24]:
application_types_to_replace = ('T9','T13','T12','T2','T25','T14','T29','T15','T17')

for app in application_types_to_replace:
    df2['APPLICATION_TYPE'] =df['APPLICATION_TYPE'].replace(app,"Other")


df2['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [25]:
df2['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C3200        2
C1246        2
C1267        2
C1234        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [26]:
classifications_to_replace = df2['CLASSIFICATION'].value_counts().loc[lambda x : x < 900].index

for cls in classifications_to_replace:
    df2['CLASSIFICATION'] = df2['CLASSIFICATION'].replace(cls,"Other")

df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [27]:
dummiesdf2 = pd.get_dummies(df2, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE','INCOME_AMT'], drop_first=True, dtype=float)
dummiesdf2.shape

(34299, 33)

In [28]:
dummiesdfx2 = dummiesdf2.drop('IS_SUCCESSFUL', axis=1)
dummiesdfx2.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,USE_CASE_Preservation,USE_CASE_ProductDev,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [29]:
dummiesdfy2 = dummiesdf2['IS_SUCCESSFUL']
dummiesdfy2

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [30]:
X2 = dummiesdfx2
y2 = dummiesdfy2

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, random_state = 50)

In [31]:
scaler = StandardScaler()

X2_scaler = scaler.fit(X2_train)

X2_train_scaled = X2_scaler.transform(X2_train)
X2_test_scaled = X2_scaler.transform(X2_test)

In [32]:
nn2 = tf.keras.models.Sequential()

nn2.add(tf.keras.layers.Dense(units=50, activation="relu",input_dim=32))

nn2.add(tf.keras.layers.Dense(units=30, activation="relu"))

nn2.add(tf.keras.layers.Dense(units=20, activation="relu"))

nn2.add(tf.keras.layers.Dense(units=10, activation="relu"))

nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn2.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 50)                1650
_________________________________________________________________
dense_4 (Dense)              (None, 30)                1530
_________________________________________________________________
dense_5 (Dense)              (None, 20)                620
_________________________________________________________________
dense_6 (Dense)              (None, 10)                210
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 11
=================================================================
Total params: 4,021
Trainable params: 4,021
Non-trainable params: 0
_________________________________________________________________

In [33]:
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
import os
from tensorflow import keras
os.makedirs("checkpoints/", exist_ok=True)
chp2 = "checkpoints/weights.{epoch:05d}.hdf5"

In [35]:
chp_callback2 = tf.keras.callbacks.ModelCheckpoint(filepath= chp2, verbose =1, save_weights_only=True, save_freg = "epoch", period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [36]:
fit_model_callback2=nn2.fit(X2_train_scaled, y2_train, epochs = 100, callbacks=[chp_callback2])

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6112 - accuracy: 0.6780
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5672 - accuracy: 0.7196
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7230
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5638 - accuracy: 0.7220
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5660 - accuracy: 0.7228

Epoch 00005: saving model to checkpoints\weights.00005.hdf5
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5644 - accuracy: 0.7246
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5585 - accuracy: 0.7285
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7235
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5599 - accuracy: 0.7281
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5661 - accuracy: 0.7202

Epoch 00010: saving model to checkpoints\weights.00010.hdf5
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5636 - accuracy: 0.7214
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7265
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5592 - accuracy: 0.7264
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7240
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5525 - accuracy: 0.7306

Epoch 00015: saving model to checkpoints\weights.00015.hdf5
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7237
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7293
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7264
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7273
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7288

Epoch 00020: saving model to checkpoints\weights.00020.hdf5
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7272
Epoch 22/100
804/804 [==============================] - 1s 984us/step - loss: 0.5591 - accuracy: 0.7249
Epoch 23/100
804/804 [==============================] - 1s 986us/step - loss: 0.5587 - accuracy: 0.7264
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7264
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5601 - accuracy: 0.7254

Epoch 00025: saving model to checkpoints\weights.00025.hdf5
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7225
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5568 - accuracy: 0.7275
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5610 - accuracy: 0.7237
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7292
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7268

Epoch 00030: saving model to checkpoints\weights.00030.hdf5
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7319
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7273
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5565 - accuracy: 0.7280
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7298
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5576 - accuracy: 0.7280

Epoch 00035: saving model to checkpoints\weights.00035.hdf5
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5564 - accuracy: 0.7277
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5541 - accuracy: 0.7287
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7221
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5580 - accuracy: 0.7257
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7291

Epoch 00040: saving model to checkpoints\weights.00040.hdf5
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7311
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5576 - accuracy: 0.7284
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7299
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5596 - accuracy: 0.7274
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7204

Epoch 00045: saving model to checkpoints\weights.00045.hdf5
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7292
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5573 - accuracy: 0.7246
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5566 - accuracy: 0.7273
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7277
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7305

Epoch 00050: saving model to checkpoints\weights.00050.hdf5
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7315
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7302
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5582 - accuracy: 0.7225
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7341
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7309

Epoch 00055: saving model to checkpoints\weights.00055.hdf5
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5564 - accuracy: 0.7270
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7309
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7295
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7269
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5543 - accuracy: 0.7294

Epoch 00060: saving model to checkpoints\weights.00060.hdf5
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7286
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7294
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7280
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7303
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7297

Epoch 00065: saving model to checkpoints\weights.00065.hdf5
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7345
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7308
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5583 - accuracy: 0.7262
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7280
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5555 - accuracy: 0.7261

Epoch 00070: saving model to checkpoints\weights.00070.hdf5
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7261
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7335
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5561 - accuracy: 0.7286
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7283
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5610 - accuracy: 0.7228

Epoch 00075: saving model to checkpoints\weights.00075.hdf5
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5585 - accuracy: 0.7282
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5565 - accuracy: 0.7274
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7281
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7267
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7299

Epoch 00080: saving model to checkpoints\weights.00080.hdf5
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7321
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7210
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7304
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7289
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7283

Epoch 00085: saving model to checkpoints\weights.00085.hdf5
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7305
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7300
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7313
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7299
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7254

Epoch 00090: saving model to checkpoints\weights.00090.hdf5
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7339
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7337
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7294
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7285
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7315

Epoch 00095: saving model to checkpoints\weights.00095.hdf5
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7313
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7272
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7301
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7296
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7308

Epoch 00100: saving model to checkpoints\weights.00100.hdf5

In [37]:
model_loss, model_accuracy = nn2.evaluate(X2_test_scaled,y2_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
#accuracy went up slightly from 0.733 to 0.735 but overall it can be considered little change

268/268 - 0s - loss: 0.5571 - accuracy: 0.7333
Loss: 0.5571027994155884, Accuracy: 0.7332944869995117

In [38]:
#Attempt 3: 
#Removal of more columns along with auto optimization. May examine and tweak ASK_AMT

In [39]:
df3 = application_df
df3.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [40]:
df3 = application_df.drop(['EIN','NAME','ORGANIZATION',"SPECIAL_CONSIDERATIONS",'USE_CASE'], axis=1)
df3.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,1,0,5000,1
1,T3,Independent,C2000,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,1,0,5000,0
3,T3,CompanySponsored,C2000,1,10000-24999,6692,1
4,T3,Independent,C1000,1,100000-499999,142590,1

In [41]:
df3.shape

(34299, 7)

In [42]:
application_types_to_replace = ('T9','T13','T12','T2','T25','T14','T29','T15','T17')

for app in application_types_to_replace:
    df3['APPLICATION_TYPE'] =df3['APPLICATION_TYPE'].replace(app,"Other")


df3['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [43]:
df3['ASK_AMT'].value_counts()

5000       25398
10478          3
15583          3
6725           3
63981          3
           ...
772556         1
70103          1
27096          1
25049          1
1138700        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [44]:
df3['ASK_AMT'].count()

34299

In [45]:
df3['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C3200        2
C1246        2
C1267        2
C1234        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [46]:
classifications_to_replace = df3['CLASSIFICATION'].value_counts().loc[lambda x : x < 900].index

for cls in classifications_to_replace:
    df3['CLASSIFICATION'] = df3['CLASSIFICATION'].replace(cls,"Other")

df3['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [47]:
dummiesdf3 = pd.get_dummies(df3, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION','INCOME_AMT'], drop_first=True, dtype=float)
dummiesdf3.shape

(34299, 29)

In [48]:
dummiesdfx3 = dummiesdf3.drop('IS_SUCCESSFUL', axis=1)
dummiesdfx3.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,CLASSIFICATION_C3000,CLASSIFICATION_Other,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [49]:
dummiesdfy3 = dummiesdf3['IS_SUCCESSFUL']
dummiesdfy3

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [50]:
X3 = dummiesdfx3
y3 = dummiesdfy3

X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, random_state = 50)

In [51]:
scaler = StandardScaler()

X3_scaler = scaler.fit(X3_train)

X3_train_scaled = X3_scaler.transform(X3_train)
X3_test_scaled = X3_scaler.transform(X3_test)

In [61]:
def create_model(hp):
    nn3 = tf.keras.models.Sequential()

    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    nn3.add(tf.keras.layers.Dense(units=hp.Int('first_units',
            min_value=1,
            max_value=50,
            step=2
            ), activation=activation, input_dim=28))
    
    for i in range(hp.Int('num_layers', 1, 6)):
        nn3.add(tf.keras.layers.Dense(units=hp.Int('units_'+str(i),
            min_value=1,
            max_value=50,
            step=2),
            activation=activation))
    
    nn3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    nn3.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn3

In [62]:
import kerastuner as kt
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [63]:
tuner.search(X3_train_scaled,y3_train,epochs=50,validation_data=(X3_test_scaled,y3_test))

Trial 60 Complete [00h 00m 26s]
val_accuracy: 0.7336443066596985

Best val_accuracy So Far: 0.7351603507995605
Total elapsed time: 00h 11m 11s
INFO:tensorflow:Oracle triggered exit

In [64]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 13,
 'num_layers': 4,
 'units_0': 49,
 'units_1': 17,
 'units_2': 43,
 'units_3': 25,
 'units_4': 1,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [65]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X3_test_scaled,y3_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5538 - accuracy: 0.7352
Loss: 0.5537829399108887, Accuracy: 0.7351603507995605

In [ ]:
#Using kerastuner produce similar results to attempt 2 where it would seems the highest that I have been able to get accuracy to would be around 0.735